@{
    ViewBag.Title = "消费类型管理";
}
<div class="boxmargin">
    <div class="font-size-18 interval-2" style="margin-left: 0px;">消费类型管理</div>
    <div class="row boxpadding">
        <div class="col-md-12 align-right">
            <span class="btn font-color-green" onclick="OpenAddIframe()"><i class="glyphicon glyphicon-plus  font-size-12"></i>添加消费类型</span>
            <span class="btn font-color-green" onclick="OpenAlterIframe()"><i class="fa fa-list-alt font-size-12"></i>修改</span>
            <span class="btn font-color-red" onclick="dele()"><i class="glyphicon glyphicon-remove font-size-12"></i>删除</span>
        </div>
    </div>
    <table id="mytable"></table>
    <div id="mytablePage"></div>
</div>
<script id="TypeWindow" type="text/html">
    <div class="row">
        <form id="typeForm">
            <table class="table">
                <tbody>
                    <tr>
                        <th>名称</th>
                        <th>
                            <input type="hidden" name="id" id="id" />
                            <input class="form-control" type="text" name="name" id="name" maxlength="28" />
                        </th>
                    </tr>
                    <tr>
                        <th>排序</th>
                        <th>
                            <input class="form-control" type="number" name="sort" id="sort" />
                        </th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</script>
<script>
    $(function () {
        grid();
    });
    function grid() {
        _frame("#mytable").table({
            url: "/Setting/GetTypes",
            type:'GET',
            //width:"1000px",
            columns: [
                { name: "id", index: "id", width: 80, hidden: true },
                { name: "序号", index: "sort", width: 80 },
                { name: "类型名", index: "name", width: 300 },
                { name: "创建日期", index: "create_timeStr", width: 200, format: "date" },
            ]
        });

    }

    function OpenAddIframe() {
        _open({
            type: 0,
            id: "AddType",
            title: "添加消费类型",
            content: $("#TypeWindow").html(),
            width: 800,
            height: 400,
            btn: ["提交", "关闭"],
            yes: function (index, layero) {
                $.ajax({
                    url: "/Setting/AddType",
                    data: $("#typeForm").serializeArray(),
                    type: "POST",
                    success: function (res) {
                        _alert(res.msg, "ok");
                        _frame("#mytable").target("reload");
                    }
                });
            }
        });
    }
    function OpenAlterIframe() {
        var rowid = _frame("#mytable").getSelRowid();
        var id = _frame("#mytable").getData(rowid).id;
        if (id == null || id == undefined || id == 0) {
            _alert("请选择数据", "warning");
            return false;
        }
        _open({
            type: 0,
            id: "ChangeType",
            title: "修改消费类型",
            content: $("#TypeWindow").html(),
            width: 800,
            height: 400,
            btn: ["提交", "关闭"],
            yes: function (index, layero) {
                $.ajax({
                    url: "/Setting/UpdateType",
                    data: $("#typeForm").serializeArray(),
                    type: "POST",
                    success: function (res) {
                        _alert(res.msg, "ok");
                        _frame("#mytable").target("reload");
                    }
                });
            }
        });
        $.ajax({
            url: '/Setting/GetType',
            data: { id: id },
            async:false,
            type: 'Get',
            success: function (res) {
                $("#id").val(res.model.id);
                $("#name").val(res.model.name);
                $("#sort").val(res.model.sort);
            }
        });
    }

    function dele() {
        var rowid = _frame("#mytable").getSelRowid();
        var id = _frame("#mytable").getData(rowid).id;
        if (id == null || id == undefined || id == 0) {
            _alert("请选择数据", "error");
            return;
        }
        if (!confirm("即将删除【" + _frame("#mytable").getData(rowid).name + "】?")) {
            return;
        }
        $.ajax({
            url: "/Setting/DeleteType",
            data: { id: id },
            type:'POST',
            success: function (res) {
                layer.msg(res.msg, function () {
                    _frame("#mytable").target("reload");
                });
            }
        });
    }
</script>


