@{
    ViewBag.Title = "账单详情";
}
<div class="row">
    <div class="boxpadding">
        <form id="searchForm">
            <span><input class="form-control" style="width:200px;display:inline-block" type="text" name="key" id="key" value="" placeholder="订单号/备注信息/金额查询" /></span>
            <span>
                <select class="form-control" style="width:200px;display:inline-block" name="year" id="year">
                    <option value="">----按年份查询----</option>
                </select>
            </span>
            <span><input class="form-control" style="width:200px;display:inline-block" type="text" name="startTime" id="startTime" value="" placeholder="按日期（开始）查询" /></span>
            <span><input class="form-control" style="width:200px;display:inline-block" type="text" name="endTime" id="endTime" value="" placeholder="按日期（结束）查询" /></span>
            <span>
                <select class="form-control" style="width:200px;display:inline-block" name="orderType" id="orderType">
                    <option value="">--按记账类型查询--</option>
                    <option value="0">收入</option>
                    <option value="1">支出</option>
                    <option value="2">修正</option>
                </select>
            </span>
            <span>
                <select class="form-control" style="width:200px;display:inline-block" name="payType" id="payType">
                    <option value="">--按账单类型查询--</option>
                </select>
            </span>
            <span>
                <select class="form-control" style="width:200px;display:inline-block" name="payObject" id="payObject">
                    <option value="">----按账单对象查询----</option>
                </select>
            </span>
            <span><a class="btn btn-info" style="padding-left:25px;padding-right:25px;" href="javascript:btn_search();">搜索</a></span>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">账单列表</h3>
            <div class="table-responsive boxpadding">
                <table id="mytable"></table>
                <div id="mytablePage"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        grid();
        laydate.render({
            elem: '#startTime' //指定元素
        });
        laydate.render({
            elem: '#endTime' //指定元素
        });
        _form("#year").bindSelect({
            url: "/Bill/GetYearForBill",
            type: "GET",
            defaultNull:true,
            dataType: "string",
            id: "create_year",
            text: "create_year"
        });
        _form("#payObject").bindSelect({
            url: "/Setting/GetObjects",
            type: "GET",
            defaultNull:true,
            dataType: "string",
            id: "id",
            text: "name"
        });
        _form("#payType").bindSelect({
            url: "/Setting/GetTypes",
            type: "GET",
            defaultNull:true,
            dataType: "string",
            id: "id",
            text: "name"
        });
    });

    function grid() {
        _frame("#mytable").table({
            url: "/Bill/GetBillList",
            dataType: 'string',
            type: 'GET',
            columns: [
                { name: "id", index: "id", width: 80, hidden: true },
                {
                    name: "记账类型", index: "orderType", width: 120, format: function (rowid, rowdata) {
                        if (rowdata.orderType == 0) {
                            return "收入";
                        } else if (rowdata.orderType == 1) {
                            return "支出";
                        } else if (rowdata.orderType == 2) {
                            return "修正";
                        } else {
                            return "未知";
                        }
                    }
                },
                { name: "订单编号", index: "orderId", width: 120 },
                { name: "记账前金额", index: "beforeAmount", width: 120, format: "money" },
                { name: "记账后金额", index: "afterAmount", width: 120, format: "money" },
                {
                    name: "记账金额", index: "amount", width: 120, format: function (rowid, rowdata) {
                        if (rowdata.orderType == 1) {
                            return "-" + GetToFixed(rowdata.amount, 2);
                        } else {
                            return GetToFixed(rowdata.amount, 2);
                        }
                    }
                },
                { name: "账单类型", index: "typeName", width: 150 },
                { name: "账单对象", index: "objectName", width: 150 },
                { name: "备注信息", index: "remark", width: 300 },
                { name: "创建时间", index: "create_time", width: 200, format: "date:yyyy-MM-dd HH:mm:ss" },
            ],
            loaded: function () {
                SetRowColor();
            }
        });

    }
    function SetRowColor() {
        var rowCount = $("#mytable tr").length;
        for (var i = 1; i < rowCount; i++) {
            var DOM = $("#_frame_orderType_" + i);
            if ($(DOM).text() == "收入") {
                $($(DOM).parent()).css("background-color", "#bfb")

            } else if ($(DOM).text() == "支出") {
                $($(DOM).parent()).css("background-color", "#fbb")
            } else if ($(DOM).text() == "修正") {
                $($(DOM).parent()).css("background-color", "#bbf")
            }
        }
    }

    function btn_search() {
        var param = {
            key: $("#key").val(),
            year: $("#year").val(),
            orderType: $("#orderType").val(),
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            payType:$("#payType").val(),
            payObject:$("#payObject").val(),
        };
        _frame("#mytable").setParamAndLoad(param);
    }
</script>

