@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>欢迎使用个人财务管理系统</title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="/Content/layui/css/layui.css" rel="stylesheet" media="all">
    <link href="/Content/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" type="text/css" rel="stylesheet" />

    <script src="/Content/Scripts/vue.js"></script>
    <script src="/Content/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Content/layui/layer/layer.js"></script>
    <script src="/Content/layui/laydate/laydate.js"></script>
    <script src="/Content/Scripts/my/MyFrame.js"></script>
    <script src="/Content/Scripts/my/MyFrameForOpen.js"></script>
    <link href="/Content/Css/LoginStyle.css" rel='stylesheet' type='text/css' media="all">
</head>
<body>
    <style>
        html, body {
            height: 100%;
            overflow-y: hidden;
        }
    </style>
    <div class="mid-class">
        <div class="art-right-w3ls">
            <h2>请登陆您的账号</h2>
            <form id="signInForm" onsubmit="return false;">
                <div class="main">
                    <div class="form-left-to-w3l">
                        <input type="text" name="userid" placeholder="登陆名" required="">
                    </div>
                    <div class="form-left-to-w3l ">
                        <input type="password" name="pwd" placeholder="密码" required="">
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="right-side-forget">
                    <a href="#" class="for">忘记密码?</a>
                </div>
                <div class="clear"></div>
                <div class="btnn">
                    <input type="submit" class="btn btn-info" onclick="SignIn()" value="登陆" />
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>还没有账号?
			  <a href="#content1">点此注册
              </a>
                </h3>
            </div>
            <!-- popup-->
            <div id="content1" class="popup-effect">
                <div class="popup">
                    <!--login form-->
                    <div class="letter-w3ls">
                        <form id="signUpForm">
                            <div class="form-left-to-w3l">
                                <input type="text" name="userid" placeholder="登陆名" required="">
                            </div>
                            <div class="form-left-to-w3l">
                                <input type="email" name="email" placeholder="邮箱" required="">
                            </div>
                            <div class="form-left-to-w3l">
                                <input type="password" name="pwd" placeholder="密码" required="">
                            </div>
                            <div class="form-left-to-w3l margin-zero">
                                <input type="password" name="pwds" placeholder="再次确认您的密码" required="">
                            </div>
                            <div class="btnn">
                                <input type="button" class="btn btn-info" onclick="SignUp()" value="注册" >
                                <br>
                            </div>
                        </form>
                        <div class="clear"></div>
                    </div>
                    <!--//login form-->
                    <a class="close" href="#">&times;</a>
                </div>
            </div>
            <!-- //popup -->
        </div>
        <div class="art-left-w3ls">
            <h1 class="header-w3ls" style="text-indent: 2em;">欢迎使用个人财务管理系统
            </h1>
        </div>
    </div>
    <footer class="bottem-wthree-footer">
        <p>Copyright &copy; 2019 Copyright Holder All Rights Reserved.</p>
    </footer>
</body>
</html>
<script>
    function SignUp() {
        var tipsW = layer.load(1, {
            skin: 'align-center',
            area: ['auto', '80px'],
            shade: [0.3, '#000'], //0.3透明度的白色背景
            content: '<div style="position:absolute;bottom:0px;font-size:20px;width:100px;margin-left:-30px;color:white;">提交中...</div>'
        });
        $.ajax({
            url: '/Login/SignUp?t=' + new Date().getMilliseconds(),
            data: $("#signUpForm").serializeArray(),
            type: 'POST',
            success: function (json) {
                layer.close(tipsW);
                if (json.code == 0) {
                    layer.msg("注册成功", function () { window.location.href = '/' });
                } else {
                    layer.msg(json.msg, function () { $("#pwd").val(''); $("#pwds").val(''); });
                }
            },
            error: function (json) {
                layer.close(tipsW);
            }
        });
        return false;
    }

    function SignIn() {
        var tipsW = layer.load(1, {
            skin: 'align-center',
            area: ['auto', '80px'],
            shade: [0.3, '#000'], //0.3透明度的白色背景
            content: '<div style="position:absolute;bottom:0px;font-size:20px;width:100px;margin-left:-30px;color:white;">正在登陆...</div>'
        });
        $.ajax({
            url: '/Login/SignIn?t=' + new Date().getMilliseconds(),
            data: $("#signInForm").serializeArray(),
            type: 'POST',
            success: function (json) {
                layer.close(tipsW);
                if (json.code == 0) {
                    layer.msg("登陆成功", function () { window.location.href = '/Index' });
                } else {
                    layer.msg(json.msg, function () { $("#pwd").val(''); });
                }
            },
            error: function (json) {
                layer.close(tipsW);
            }
        });
        return false;
    }
</script>
